# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
build/
.npm/

# DB
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db
.env
# Configs
*.json
!vercel.json
!package.json
!package-lock.json
!credentials_to_paste_in_vercel.json
backend.log
